### --- C# / .NET --- ###
.vs/
Server/.vs/
Server/**/obj/
Server/**/bin/
*.user
*.userosscache
*.sln.docstates

### --- Java / Gradle --- ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.kotlin/

### --- IntelliJ IDEA --- ###
.idea/
*.iws
*.iml
*.ipr
out/

### --- Altele --- ###
.vscode/
.DS_Store