################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasketballTicketSystem/BasketballTicketSystem/obj
/BasketballTicketSystem/.vs/BasketballTicketSystem.slnx
